.Summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Summary-items-containers {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
}

.Summary-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Summary-paragraph {
  display: flex;
  width: 90%;
  height: 100;
  text-align: left;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 600px) {
  .Summary-items-containers {
    flex-direction: row;
  }

  .Summary-info-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .Summary-paragraph {
    width: 40%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
