.Home-container {
  display: flex;
  flex-direction: column;
}

.Opening-div {
  height: 3vw;
}

.Summary-div {
  height: 5vw;
  background-image: -webkit-linear-gradient(
    88deg,
    rgba(223, 219, 219, 0.199) 50%,
    white 50%
  );
}

.Contact-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Contact-div-one {
  width: 40%;
  height: 5vw;
  background-image: -webkit-linear-gradient(
    96deg,
    var(--primary) 48%,
    rgba(223, 219, 219, 0.199) 50%
  );
}

.Contact-div-two {
  width: 60%;
  height: 5vw;
  background-image: -webkit-linear-gradient(
    86deg,
    var(--primary) 48%,
    rgba(223, 219, 219, 0.199) 50%
  );
}
