.Contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.Contact-form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Contact-phrase {
  margin-top: 3vw;
  margin-bottom: 7vw;
  font-size: large;
  color: var(--secondary);
}

.Contact-one-line-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vw;
}

.Contact-one-line-input {
  width: 100%;
  font-size: large;
  border-style: none;
  color: white;
  background-color: var(--backgroundTwo);
  font-family: "Poppins", sans-serif;
  padding-left: 1vw;
}

.Contact-message-input {
  width: 100%;
  min-width: 36vw;
  min-height: 25vw;
  font-size: large;
  border-style: none;
  color: white;
  margin-bottom: 1vw;
  background-color: var(--backgroundTwo);
  font-family: "Poppins", sans-serif;
  padding-left: 1vw;
}

.Contact-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vw;
}

.Contact-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40%;
  font-size: large;
  border-style: solid;
  border-color: white;
  margin-bottom: 2vw;
}

.Contact-submit-error {
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  font-size: large;
}

.Contact-submit:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

@media (min-width: 600px) {
  .Contact-submit {
    width: 6vw;
  }

  .Contact-form-container {
    width: 50%;
  }

  .Contact-phrase {
    margin-top: 1vw;
    margin-bottom: 4vw;
    font-size: large;
    color: var(--secondary);
  }

  .Contact-message-input {
    margin-bottom: 1vw;
  }

  .Contact-submit-container {
    margin-bottom: 2vw;
  }
}
