.Opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}

.Opening-title {
  width: 70vw;
  color: white;
  font-size: xxx-large;
  margin-bottom: 3vw;
}

.Opening-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  padding: 1vw;
  border-style: solid;
  border-radius: 1vw;
  border-color: white;
  border-width: 6px;
  color: white;
  font-size: xx-large;
  transition: 1s;
}

.Opening-button-icon {
  transition: 0.5s;
}

.Opening-button:hover .Opening-button-icon {
  transform: rotate(90deg);
}

.Opening-button:hover {
  background-color: var(--secondary);
}

@media (min-width: 600px) {
  .Opening-button {
    width: 30%;
  }
}
