.Footer-container {
  width: 100%;
  background-color: var(--backgroundTwo);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.Footer-copyright {
  color: white;
  font-size: small;
  margin-left: 1vw;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.Footer-items-container {
  display: flex;
  flex-direction: row;
}
